.cls-1 {
    fill: #f8f8f8;
}

.cls-2 {
    fill: #d3d3d3;
}

.cls-3 {
    fill: #de8e68;
}

.cls-4 {
    fill: #56cad8;
}

.cls-5 {
    fill: #74d5de;
}

.cls-6 {
    fill: #d37c59;
}

.cls-7 {
    fill: #fed385;
}

.cls-8 {
    fill: #fed892;
}

.cls-9 {
    fill: #dc8e6c;
}
